.Available-Resturants ul{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin:  20px 45px;

}
.Available-Resturants input{
    width: 800px;
    height: 50px;
}

.Resturant-info p{
    margin: 0;
    padding: 3px 2px;
    font-size: 20px;
}

.Resturant-Cuisines p{
    
    font-size: 11px;

    margin: 0;
    padding-top: 0;
}
